@import url('https://fonts.googleapis.com/css2?family=Lato&family=Reggae+One&display=swap');

* {
    margin: 0;
    padding: 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

html {
    scroll-behavior: smooth;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

#body1 {
    background-image: url('../images/Logo12.jpg');
    background-blend-mode: overlay;
    background-color: rgba(7, 7, 7, 0.822);
    color: rgb(240, 255, 243);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Lato', sans-serif;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.text-reg {
    font-family: 'Reggae One', cursive;
}

.brand_name {
    top: 0;
    right: 0;
    position: absolute;
}

.brand_name_main {
    width: fit-content;
    border-radius: 0 0 10px 0;
    background-color: #003631;
    border: none;
    font-weight: 600;
    -webkit-border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 10px 0;
    -ms-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0;
}

.btn-success {
    background: linear-gradient(150deg, #082722, #095c4e, #082722);
}

.mynav {
    z-index: 2;
    top: 0;
    width: 100%;
}


.top {
    width: 100%;
    height: auto;
    color: aliceblue;
    transition: all .5s;
    padding-bottom: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.profile-pic {
    width: 100%;
    text-align: center;
    padding: 5% 0 2.5% 0;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.profile-pic img {
    width: 175px;
    height: 175px;
    border-radius: 250px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.profile-pic img:hover {
    transition: all .5s;
    box-shadow: 0px 0px 35px 0px rgba(4, 148, 129, 0.795);
    transform: scale(1.25);
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
}

.summary {
    width: 100%;
    text-align: center;
    font-family: arial;
    padding: 0 0 2.5% 0;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.social-link {
    margin: 0px 0px 10px 0px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.social-link img {
    width: 50px;
    height: 50px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.social-link img:hover {
    background-color: #000000;
    border-radius: 0px;
    border: 2px;
    border-color: rgba(16, 37, 20, 0.726);
    border-style: dashed;
    transform: scale(1.1);
    transition: all .5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.about,
.skills,
.experience {
    width: 80%;
    height: auto;
    margin: 1.5% 0 2.5% 10%;
    background-color: rgb(29, 29, 29);
    color: rgb(209, 252, 226);
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 5px 0 rgb(177, 255, 207);
    overflow: hidden;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.skill-1,
.skill-2 {
    width: 50%;
    height: auto;
    float: left;
    padding: 25px;
    text-align: justify;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.about {
    line-height: 25px;
    padding: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.about:hover,
.skills:hover,
.experience:hover {
    transform: scale(1.05);
    transition: all .5s;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.experience .row:hover {
    transform: scale(.97);
    transition: all .5s;
    -webkit-transform: scale(.97);
    -moz-transform: scale(.97);
    -ms-transform: scale(.97);
    -o-transform: scale(.97);
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.experience .row {
    border-bottom: #7bc9c4 solid 1px;
    color: aliceblue;
}

.ex-g {
    background: linear-gradient(150deg, #082722, #095c4e, #082722);
    transition: all .5s;
    text-align: center;
    text-transform: uppercase;
    transition: all .5s;
    padding: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.ex-w {
    padding: 20px;
    text-align: justify;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: all .5s;
}

.resume embed {
    width: 100%;
    height: 800px;
}

/*Responsive*/

@media screen and (max-width: 700px) {
    .top {
        height: auto;
    }

    #time {
        display: none;
    }

    .main_menu,
    .brand_name {
        position: fixed;
    }

    .profile-pic {
        padding-top: 60px;
    }

    .profile-pic:hover {
        padding: 75px 0 50px 0;
    }

    .navbar-nav {
        padding-left: 20%;
    }

    .mynav button {
        width: 150px;
        margin-bottom: 10px;
    }

    .social-link {
        margin: 0 0 10px 0;
    }

    .social-link img {
        margin: 0;
    }

    .descrip,
    .personal,
    .skill-1,
    .skill-2,
    .port1,
    .port2 {
        width: 100%;
        height: auto;
    }

    .text:hover {
        width: 90%;
        margin-left: 5%;
    }

    .about:hover,
    .skills:hover {
        margin-top: 15%;
        margin-bottom: 15%;
    }

    .ex {
        margin-bottom: 10%;
    }

    .ex-g,
    .ex-w,
    .contact-img,
    .address {
        width: 100%;
        height: auto;
        padding-top: 5%;
    }

    .address {
        text-align: center;
        padding-top: 0;
        padding-bottom: 10%;
    }

    .contact-box {
        width: 75%;
        margin-left: 12.5%;
    }

    .home {
        width: 10%;
    }

    .resume embed {
        width: 0;
        height: 0;
        display: none;
    }

    .resume::after {
        content: 'PDF previewer is not supported in mobile view. ';
        color: #e2ffff;
    }
}


#about,
#contact,
#experience,
#project,
#study,
#skills,
#resume {
    display: none;

}